{
"consumer_key": "abcdefg123456",
"consumer_secret": "abcdefghijklmn1234567890",
"api_url": "https://commons.wikimedia.org/w/index.php",
"redis_pw": "THISisNOTthePASSWORD@@@",
"redis_host": "video-redis.video.eqiad.wmflabs",
"session_key": "BlahBlahBlah",
"http_host": "tools.wmflabs.org/video2commons/static/ssu",
"webfrontend_uri": "//tools.wmflabs.org/video2commons/",
"socketio_uri": "//tools.wmflabs.org/video2commons-socketio"
}
