{
"consumer_key": "abcdefg123456",
"consumer_secret": "abcdefghijklmn1234567890",
"api_url": "https://commons.wikimedia.org/w/index.php",
"redis_pw": "THISisNOTthePASSWORD@@@",
"redis_host": "video-redis.video.eqiad.wmflabs",
"session_key": "BlahBlahBlah",
"http_host": "video2commons.toolforge.org/static/ssu",
"webfrontend_uri": "//video2commons.toolforge.org/",
"socketio_uri": "//video2commons-socketio.toolforge.org/"
}
