youtube-dl
flask
celery[redis]
pycountry
chardet
mwoauth
https://github.com/senko/python-video-converter/zipball/master#egg=videoconverter
https://github.com/wikimedia/pywikibot-core/zipball/master#egg=pywikibot

