{% extends "base.min.html" %}
{% block jscss %}
{% if loggedin %}
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/nunjucks/3.0.1/nunjucks-slim.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/blueimp-file-upload/9.12.5/js/vendor/jquery.ui.widget.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload.min.js"></script>
<link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/blueimp-file-upload/9.12.5/css/jquery.fileupload.css" rel="stylesheet">
<script src="//tools.wmflabs.org/video2commons-socketio/socket.io.js"></script>
<script src="i18n/{{ lang() }}"></script>
<script src="static/templates.min.js"></script>
<script src="static/video2commons.min.js"></script>
{% endif %}
{% endblock %}
{% block content %}
{% if loggedin %}
<noscript>{{ _('JavascriptRequired') }}</noscript>
{% else %}
<form method="get" action="{{ url_for('loginredirect') }}">
  <center>
    <input class="btn btn-primary btn-success btn-lg" value="{{ _('loginOnCommons') }}" type="submit">
  </center>
</form>
{% endif %}
{% endblock %}
