<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-sm-2" for="url">URL</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="url"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="keep">{{ _('keep') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="keep"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="filename">{{ _('filetarget') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="filename"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="format">{{ _('transcoding') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="format"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="filedesc">{{ _('filedescription') }}</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="5" id="filedesc" readonly="readonly" dir="ltr"></textarea>
    </div>
  </div>
  <div class="alert alert-info">
    {{ _('note') }}
    <ul>
      <li>{{ _('confirmmsg') }}</li>
    </ul>
  </div>
</form>
