name: Deploy Socket.IO (Toolforge)

on:
  workflow_dispatch:

  # Uncomment to allow the workflow to run automatically when changes are
  # merged into master (only for files that affect this deployment).
  #
  # push:
  #   branches: [master]
  #   paths:
  #     - 'package-lock.json'
  #     - 'package.json'
  #     - 'utils/deploy-toolforge-socketio.sh'
  #     - 'video2commons-socketio/**'

jobs:
  deploy-toolforge-video2commons-socketio:
    name: Deploy Socket.IO (Toolforge)
    environment: WMCS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo '${{ secrets.SSH_PRIVATE_KEY }}' > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          cat >> ~/.ssh/config << 'EOF'
          Host *
              IdentityFile ~/.ssh/id_ed25519
              IdentitiesOnly yes
              StrictHostKeyChecking no
              ControlMaster auto
              ControlPath ~/.ssh/sockets/%r@%h-%p
              ControlPersist 60
          EOF
          chmod 600 ~/.ssh/config
          mkdir -p ~/.ssh/sockets

      - name: Deploy
        run: ./utils/deploy-toolforge-socketio.sh
        env:
          V2C_SERVICE_NAME: video2commons-socketio
          V2C_USERNAME: ${{ secrets.V2C_USERNAME }}
